:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui;
  margin: 0;
  color: rgb(255, 255, 255);
}
